.modelFieldOptions {
  background: #f5f7fb;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  border-radius: 6px;
  :global {
    .ant-pro-card .ant-pro-card-body {
      padding: 0 !important;
    }
    .ant-table-wrapper {
      border-radius: 4px;
      overflow: hidden;
      border-top: 1px solid #f0f0f0;
      border-left: 1px solid #f0f0f0;
      border-right: 1px solid #f0f0f0;
      border-bottom: 0;
    }
  }
}

.enumSection {
  margin-bottom: 24px;
  :global {
    .ant-form-item {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.flexWidth100 {
  :global {
    .ant-form-item {
      width: 100%;
    }
  }
}

.fieldDelete {
  border-left: 1px solid #ededed;
  height: 58px !important;
}
