.taskForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  .taskFormContainer {
    width: 850px;
  }

  .taskFormHeader {
    display: flex;

    .verticalDivider {
      height: 16px;
      width: 3px;
      background-color: #1890ff;
      vertical-align: middle;
      margin-right: 8px;
      margin-top: 5px;
    }
  }
  .plusMinusIcon {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 12px;
  }
  .commonMarginBottom {
    :global {
      .ant-form-item {
        margin-bottom: 0;
      }
    }
  }

  .stepHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .stepDeleteIcon {
      cursor: pointer;
      &:hover {
        color: #1890ff;
      }
    }
  }

  .plusIcon,
  .minusIcon {
    font-size: 16px;
    cursor: pointer;
    &:hover {
      color: #1890ff;
    }
  }

  :global {
    .ant-space {
      gap: 0px 16px !important;
    }
  }
}
